*.o
*.ll
*.bc
*.bin
flintc
flintc_prof
flintc_prof*
flintc_bincache
flintc_g3
build-flintc
build.log
__test_*
import_test_*
profile_report.json
profile_data.csv
.cache/
-o
-o.link
*_output.txt
*_g3*
flint-build
flintc.fl
flint-test
